body
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100vh;
}
#container
{
    display: flexbox;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.grid, td, tr
{
    border: 1px solid black;
    border-collapse: collapse;
}
.grid
{
    height: 500px;
    width: 500px;

}
.cell
{
    background-color: black;
}
.gridnotvisible
{
    display: none;
}