body
{
    margin: 0;
}
#container
{
    display: flexbox;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 100vh;
}
#grid, td, tr
{
    border: 1px solid black;
    border-collapse: collapse;
}
td
{
    height: 50px;
    width: 50px;

}